# compiled output
dist/
build/
tmp/
out-tsc/

# dependencies
node_modules/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# Angular build cache
.angular/

# system files
.DS_Store
Thumbs.db

# environment files
src/environments/environment.local.ts

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
