.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 24px;
}
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 24px;
}
.filter-select {
  flex: 1 1 250px;
}
.filter-search {
  flex: 1 1 300px;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
}
.no-data-row {
  text-align: center;
  padding: 20px;
  color: grey;
}
.tiered-note {
  font-style: italic;
  color: #666;
  font-size: 0.9em;
  cursor: help;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 24px;
}
.pagination-summary {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.page-item {
  margin: 0 2px;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #dee2e6;
}